.idea/
.vscode/
build/
config/
dist/bundles/
dist/extensions/
extension/
framework/
html/*
md5/
node/
src/
temp/
types/android
types/chrome
types/vdom
.eslint*
.git*
*.code-workspace
rollup*
tsconfig.*
bundle.js
md5sum.js
!serve.js
!html/index.html