.idea/
.vscode/
android-framework/
android-widget/
build/
html/demos/android/
html/demos-dev/
node_modules/
src/
temp/
.babelrc
*.code-workspace
package-lock.json
rollup.config.js
tsconfig.json
tslint.json