.idea/
.vscode/
@types/
android-framework/
android-widget/
build/
chrome-framework/
html/books/
html/demos/
node_modules/
node-express/
src/
temp/
.eslint*
.git*
*.code-workspace
rollup.*
tsconfig.*
!app.js